/*modal*/
#jmodal{font-family: "Microsoft YaHei";color:#333;}
#jmodal.dark{background-color:rgba(0,0,0,.8);}
#jmodal{width:100%;height:100%;position: fixed;top:0 !important;left:0 !important;visibility: hidden;opacity: 0;z-index:999999;}
#jmodal > div,#layerModalRaw{visibility: hidden;opacity: 0}
#jmodal.active{visibility: visible;opacity: 1}
#jmodal.active #layerModal.show, #jmodal.active #layerAlert.show, #jmodal.active #layerConfirm.show, #layerModalRaw.show{animation-name: scaleIn;-webkit-animation-name: scaleIn;visibility: visible;}
#layerModal{border:4px solid #fff;border-radius: 5px;background-color:#fff;}
#layerModal,#layerAlert,#layerConfirm,#layerModalRaw{position: absolute;left:50%;top:50%;animation-name:scaleOut;-webkit-animation-name:scaleOut;}
#layerModalRaw{position: fixed !important}

.modalant{animation-fill-mode:both;animation-duration:0.6s;animation-timing-function:cubic-bezier(.215,.61,.355,1);}
#jclosemodal{width:26px;height:26px;display: block;background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAUVBMVEUAAAD////////////////////////////////////////////////////////////////////////BwcHu7u6AgIBmZmajo6O3t7eMjIx0dHQX9hFRAAAAEnRSTlMA+sfDvj8J5piBLycS55uZd3bubb3EAAAAq0lEQVQoz32SWw6EIAxFi6CIby8+Z/8LnYyIrRPC+WngpEkLlyLtbKxS1swtvSk1HnQpRFXjRV1F0xX4o+juHjbsQt+ABMM1AZL8ZomzLe+qiZp48/GhrqGiIYcbv/nL7Ag4MpCODQxZCHewgSUF5thOPiiplvXcvFBWmB2enSUjDYQz5KSRzj0rw8e6xJVJI4nOPy+NKTNmvjIfgHRs8mFj2sn0SvVmeiL6BYEAJNfnXqR7AAAAAElFTkSuQmCC') no-repeat 0 0;position: absolute;right:-15px;top:-15px;cursor:pointer;border:2px solid #c7c7c7;border-radius: 50%}
#jmodal, #jclosemodal{transition:visibility 0.4s ease,opacity 0.4s ease;-webkit-transition:visibility 0.4s ease,opacity 0.4s ease,transform 0.4s ease;}
#jclosemodal:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);}
body.modal-up{overflow:hidden;}
@keyframes scaleIn {
    from {transform: scale(0.8);-webkit-transform: scale(0.8);opacity:0;visibility: hidden}
    to {transform: scale(1);-webkit-transform: scale(1);opacity:1;visibility: visible;}
}

@-webkit-keyframes scaleIn {
   from {transform: scale(0.8);-webkit-transform: scale(0.8);opacity:0;visibility: hidden}
    to {transform: scale(1);-webkit-transform: scale(1);opacity:1;visibility: visible;}
}
@keyframes scaleOut {
    from {transform: scale(1);-webkit-transform: scale(1);opacity:1;visibility: visible;}
    to {transform: scale(0.8);-webkit-transform: scale(0.8);opacity:0;visibility: hidden}
}
@-webkit-keyframes scaleOut {
    from {transform: scale(1);-webkit-transform: scale(1);opacity:1;visibility: visible;}
    to {transform: scale(0.8);-webkit-transform: scale(0.8);opacity:0;visibility: hidden}
}
/*modal alert*/
.jalcf {padding:0 10px;box-shadow: 0px 0px 10px rgba(34,36,38,.25);border-radius: 6px;overflow:hidden;background-color:#fff;}
.jalcf div:first-of-type{height:50px;line-height: 50px;font-size:18px;border-bottom: 1px solid rgba(34,36,38,.15);color:rgba(0,0,0,.85);}
.jalcf div:nth-of-type(2){font-size:14px;padding:22px 0 ;line-height: 1.8em}
.jalcf div:last-of-type{height:50px;line-height: 50px;position: absolute;bottom:0;left:0;background-color:#F9FAFB;width:100%;text-align: right}
.jalcf .buttons span{display:inline-block;margin-right:20px;padding:0 15px;color:#fff;height:36px;line-height: 36px;margin-top:7px;border-radius: 4px;font-size:14px;cursor:pointer;}
.jalcf .buttons span:first-of-type{background-color:#2185D0;}
.jalcf .buttons span:first-of-type:hover{background-color:#1678c2;}
/*modal confirm*/
.jalcf .buttons span:nth-of-type(2){background-color:#949494;}
.jalcf .buttons span:nth-of-type(2):hover{background-color:#656565;}
/*z-index*/
#layerModal{z-index:888;}
#layerModalRaw{z-index:777;}
#layerAlert{z-index:1000;}
#layerConfirm{z-index:999;}
/*modal raw */
#layerModalRaw{background-color: transparent;}